.about-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.why-choose-us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reasons {
    margin-right: 20px;
    flex: 1;
}

.reason-list {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.reasons h2 {
    margin-bottom: 10px;
    text-align: center;
}

.reasons ul {
    list-style-type: disc;
    padding-left: 20px;
}

.reason {
    display: flex;
    align-items: flex-start;
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reason .icon {
    font-size: 24px;
    color: #3f51b5;
    margin-right: 10px;
}
  
.reason .content {
    flex: 1;
}
  
.reason .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.reason .description {
    font-size: 14px;
    color: #777;
}

.yoga-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.yoga-image img {
    width: 100%;
    height: 100vh; 
    object-fit: cover;
}

.our-team {
    background-color: rgb(203, 196, 183);
    padding-top: 20px;
    padding-bottom: 40px;
}

.our-team h2 {
    padding: 20px;
    text-align: center;
}

.team-members {
    justify-items: center;
    padding: 20px;
    overflow: hidden;
}  

.member {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.member img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.member-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.member-info h3, .member-info p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .why-choose-us {
        display: block;
        margin-top: 20px;
    }

    .reasons {
        margin-right: 0;
    }

    .yoga-image img {
      width: 0;
      height: 0;
    }

    .member {
        padding: 10px;
    }

    .member img {
        width: 50px;
        height: 50px;
    }

    .member-info h3 {
        font-size: 14px;
    }

    .member-info p {
        font-size: 10px;
    }
}
