.play1 {
    background: #2c2c2c;
    font-family: sans-serif;
	height: 90vh;
}

#health {
    font-size: 1.25rem;
    margin: 1rem 0.5rem;
}

.monsterkiller {
    font: inherit;
    background: #ff0062;
    border: 1px solid #ff0062;
    color: white;
    padding: 1rem 2rem;
    border-radius: 6px;
    cursor: pointer;
    margin: 0.5rem;
	width: auto;
}

.monsterkiller:focus {
    outline: none;
}

.monsterkiller:hover,
.monsterkiller:active {
    background: #a927f5;
    border-color: #a927f5;
}

.health-levels,
.controls {
    margin: 15px auto;
    width: 800px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background: white;
}

.controls {
    display: flex;
    flex-direction: column;
}

.progBar {
	box-sizing: border-box;
	background-color: #f4f4f4;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

#progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 40px;
    width: 100%;
}

#progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 0.4s linear; /*0.5s;*/
}