.Upload {
    width: 500px;
    height: 505px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
    background-color: rgba(140, 236, 60, 0.242);
    background-image: linear-gradient(45deg, #FFFB7D 0%, #85FFBD 100%);
    text-align: center;
    border-width:5px;  
    border-style:outset;
    border-color: greenyellow;
}

.UploadForm {
    display: flex;
    flex-direction: column; 
}

.UploadForm input,button {
    border: 2px solid darkgreen;
    border-radius: 4px;
    margin: 10px;
    width: 400px;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
}

.UploadForm textarea {
    border: 2px solid darkgreen;
    border-radius: 4px;
    margin: 10px;
    width: 400px;
    height: 70px;
    font-size: 15px;
    background-color: transparent;
}

.UploadForm button:hover {
    cursor: pointer;
}
