#top {
    margin: 0;
    padding: 0;
    padding: 20px 0px 20px 0px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    font-family: sans-serif;
}

.profile-form {
    width: 800px;
    background-color: rgb(0, 0, 0, 0.6);
    margin: 0 auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.main {
    background-color: rgb(0, 0, 0, 0.5);
    width: 800px;
    margin: 0 auto;
    padding: 1px 0 20px 0;
    border-radius: 0px 0px 15px 15px;
}

.form {
    padding: 10px;
}

.name {
    position: relative;
    top: 30px;
    margin-left: 30px;
    margin-top: 10px;
    width: 125px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.form-input {
    position: relative;
    left: 250px;
    line-height: 30px;
    height: 35px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.bio {
    position: relative;
    left: 250px;
    top: -20px;
    line-height: 30px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}


.gender {
    position: relative;
    left: 250px;
    top: 5px;
    line-height: 40px;
    width: 125px;
    height: 35px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    outline: none;
    overflow: hidden;
}
.gender option {
    font-size: 16px;
}


#art-style {
    margin-top: 40px;
    margin-left: 25px;
    width: 125px;
    color: white;
    font-size: 16px;
}
.radio {
    display: inline-block;
    padding-right: 70px;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}
.radio input {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
.cool {
    position: relative;
    left: 75px;
    top: 20px;
}

#art {
    margin-top: 3px;
    margin-bottom: 25px;
    display: flex;
} 

#box {
    display: flex;
    width: auto;
    margin-right: 15px;
}

.button1 {
    background-color: #0a772b;
    display: block;
    margin: 20px 0px 15px 20px;
    border-radius: 12px;
    border: 2px solid #366473;
    width: 100px;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    font-size: 18px;
}
.button1:hover {
    background-color: #5390f5;
} 

.chooseAvatar {
    position: relative;
    left: 250px;
    top: 5px;
    line-height: 30px;
    height: 35px;
    width: 480px;
    border-radius: 6px;
    font-size: 16px;
    color: #555;
}