* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: rgb(203, 196, 183);
    font-weight: 600;
    padding: 0 10%;
}

.menu-bar {
    /* background: rgb(0, 100, 0); */
    background: rgb(203, 196, 183);
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-bar ul {
    /* display: inline-flex; */
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: black;
    /* width: 100%; */
    padding: 10px;
}

@media (max-width: 768px) {
    .menu-bar ul {
        display: block;
    }
  }

.menu-bar ul li {
    /* width: 135px; */
    margin: auto;
    padding: 8px;
}

/* .menu-bar ul .active {
    margin-right: auto;
} */

.menu-bar ul li a {
    text-decoration: none;
    color: black;
}

.active, .menu-bar ul li:hover, .menu-bar ul li:hover a, .menu-bar ul li.active a {
    /* background: whitesmoke !important; */
    text-decoration: none;
    color: green;
    border-radius: 3px !important; 
    cursor: pointer;
}

.menu-bar .fas {
    margin-right: 8px;
}

/* this one hides the 'sub-menu-1' class on default */
.sub-menu-1 {
    display: none;
}

/* this one shows the 'sub-menu-1' class when we hover over 'About Us' */
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    /* background: rgb(0, 100, 0); */
    background: rgb(203, 196, 183);
    margin-top: 8px;
    margin-left: -8px;
    z-index: 1;
}

/* align the 'sub-menu-1' class below 'About-Us' */
.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 5px;
}

/* style the list of 'About-Us' */
.menu-bar ul li:hover .sub-menu-1 ul li {
    /* width: 100px; */
    padding: 8px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li a {
    color: black;
}
.menu-bar ul li:hover .sub-menu-1 ul li.active a {
    color: green;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover a {
    color: green;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li .Link:hover {
    color: green;
}

.LogOut {
    background-color: rgb(121, 66, 14);
    width: 110px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 10px;
}

.gap {
    margin-right: 8px;
}

.gap-left {
    margin-left: 8px;
}

.banner {
    display: flex;
    align-items: center;
    margin-left: 5%;
    cursor: pointer;
}

.logo-image {
    height: 100px;
}

.title-banner {
    width: 100%;
    text-align: center;
    margin-right: 10%;
}