/* * {
    font-family: monospace;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background: rgb(108, 161, 179);
    color: white;
}

.nav-link {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

Link {
    color: white;
}
nav button {
    background-color: grey;
    width: 50px;
    color: white;
    font-size: 10px;
} */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.menu-bar {
    background: rgb(0, 100, 0);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li {
    width: 120px;
    /* width: auto; */
    margin: 10px;
    padding: 8px;
}

.menu-bar ul li .Link {
    text-decoration: none;
    color: white;
}

.active, .menu-bar ul li:hover {
    background: #2bab0d;
    border-radius: 3px;
}

.menu-bar .fas {
    margin-right: 8px;
}

/* this one hides the 'sub-menu-1' class on default */
.sub-menu-1 {
    display: none;
}

/* this one shows the 'sub-menu-1' class when we hover over 'About Us' */
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 8px;
    margin-left: -8px;
}

/* align the 'sub-menu-1' class below 'About-Us' */
.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 5px;
}

/* style the list of 'About-Us' */
.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 8px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li .Link:hover {
    color: #b2ff00
}

.LogOut {
    background-color: grey;
    width: 50px;
    color: white;
    font-size: 10px;
}

