/* .Navbar {
    width: 100%;
    height: 40px;
    background-color: rgb(82, 66, 221);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Navbar a {
    font-size: 18px;
    margin: 10px;
    color: white;
    text-decoration: none;
    font-family: monospace;
}

.Navbar a:hover {
    cursor: pointer;
}

.Navbar button {
    background-color: red;
    width: 100px;
    color: white;
    font-size: 18px;
    font-family: monospace;
} */

* {
    font-family: monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: rgb(108, 161, 179); 
  color: white;
}

.nav-link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

Link {
    color: white;
}
nav button {
    background-color: grey;
    width: 50px;
    color: white;
    font-size: 10px;
}