* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-bar {
    /* background: rgb(0, 100, 0); */
    background: rgb(16, 141, 16);
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
}

.menu-bar ul {
    /* display: inline-flex; */
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    width: 100%;
}

.menu-bar ul li {
    width: 135px;
    margin: 12px;
    padding: 8px;
}

.menu-bar ul .active {
    margin-right: auto;
}

.menu-bar ul li .Link {
    text-decoration: none;
    color: white;
}

.active, .menu-bar ul li:hover {
    background: #5de73e96;
    border-radius: 3px;
}

.menu-bar .fas {
    margin-right: 8px;
}

/* this one hides the 'sub-menu-1' class on default */
.sub-menu-1 {
    display: none;
}

/* this one shows the 'sub-menu-1' class when we hover over 'About Us' */
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    /* background: rgb(0, 100, 0); */
    background: rgb(16, 141, 16);
    margin-top: 8px;
    margin-left: -8px;
    z-index: 1;
}

/* align the 'sub-menu-1' class below 'About-Us' */
.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 5px;
}

/* style the list of 'About-Us' */
.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 8px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li .Link:hover {
    color: #b2ff00
}

.LogOut {
    background-color: rgb(121, 66, 14);
    width: 110px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 10px;
}

.gap {
    margin-right: 8px;
}