.Credentials {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: skyblue;
}

.CredentialsForm {
    width: 300px;
    padding: 40px;
    /* position: absolute; */
    height: fit-content;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    background-color: lightgoldenrodyellow;
    /* background-image: linear-gradient(45deg, #FFFB7D 0%, #85FFBD 100%); */
    text-align: center;
    border-width:5px;  
    border-style:outset;
    border-color: darkgreen;
}

.CredentialsForm h1 {
    /* color:rgba(102, 94, 94, 0.986); */
    color: black;
    font-weight: 500;
}

.CredentialsForm input[type = 'text'],
.CredentialsForm input[type = 'password'] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid darkgreen;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: grey;
    border-radius: 24px;
    transition: 0.25s;
}

.CredentialsForm input[type = 'text']:focus,
.CredentialsForm input[type = 'password']:focus {
    position: relative;
    left: -18px;
    width: 250px;
    border-color: darkolivegreen;
}

.CredentialsForm input[type = 'submit'] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid darkgreen;
    padding: 14px 40px;
    outline: none;
    color:rgba(102, 94, 94, 0.986);
    font-weight: 600;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.CredentialsForm input[type = 'submit']:hover {
    background: darkslategray;
}

#top{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding: 20px 0px 20px 0px;
    background-image: url('../../assets/background.jpg') !important;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#msg {
    color: red;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}